@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

:root{
    --bg-color:rgb(0, 0, 0);
    --primary-color: rgb(255, 255, 255);
}

header{
    margin-top:160px;
}

header img{
    width: 20rem;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--bg-color);
    background-image: url("https://i.redd.it/xa40ixptjv761.jpg");
    background-size: 100%;
    background-repeat:initial;
}


.container{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 20px;
    gap: 40px;
}

.title{
    font-size:70px;
    text-align: center;
    color: var(--primary-color);
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.inputbox{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.inputbox label{
    position: relative;
    top: 0;
    left: 10px;
    font-size: 20px;
    color: var(--primary-color);
    cursor: text;
}

p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-color: rgb(255, 253, 253);
}

.inputbox input{
    position: absolute;
    background-color: var(--primary-color);
    width: 30%;
    height: 30px;
    bottom: 0;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight:lighter;
    padding: 0 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    
}

/* .inputbox input:focus,
.inputbox input:valid{
    height: 100%;
}

.inputbox input:focus + label,
.inputbox input:valid + label{
    top: -40px;
    left: 0;
} */

.container button{
    justify-self: center;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    color: rgb(0, 0, 0);
}

footer{
    color: var(--primary-color);
    font-size: 16px;
}

#a{
    text-align: center;
    color: white;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: rgb(93, 184, 33);
}

#img1{
    height: 270px;
    width: 120px;
}

#img2{
    height: 104;
    width: 104px;
}

#img3{
    height: 104;
    width: 104px;
}

#imageSection p, #imageSection img, #imageSection button {
    margin-bottom: 100px;
}

#imageSection {
    display: none;
}
.imageSection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.imageSection-item button {
    margin-top: 10px;
}

#pu{
    display: flex;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    bottom: 30px;
    position: relative;
}

